name: CI Unittests

on:
  push:
  workflow_dispatch:

jobs:
  run-tests:
    permissions:
      contents: read
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Run unittests
        run: mvn test